{{#if next}}
<div class="pagination-section">
	<div class="pagination-wrap">
		<a id="next" href="{{page_url next}}"></a>
		<button id="loadmore" class="load-more" aria-label="Load more"></button>
	</div>
</div>
{{/if}}