{{!-- Step one — remove brackets "{{!‐‐" and "‐‐}}" to use Special sections --}}
{{!-- Step two — the only thing you need to change is "XXXXX" - which should be replaced with your own tag name, link and slug --}}

{{!--
<div class="special-section">
	<div class="global-heading">
		<h3>XXXXX</h3>
		<a href="{{@site.url}}/tag/XXXXX/">See all XXXXX{{>icons/site/arrow_right}}</a>
	</div>
	{{#get "posts" limit="5" filter="tag:XXXXX" include="authors"}}
	{{>sections_content}}
	{{/get}}
</div>
--}}
